 
/* start css.sty */
.ec-lmr-17x-x-143{font-size:243%;}
.ec-lmss-17x-x-143{font-size:243%; font-family: sans-serif;}
.ec-lmss-17x-x-143{ font-family: sans-serif;}
.ec-lmss-17x-x-143{ font-family: sans-serif;}
.ec-lmss-17x-x-143{ font-family: sans-serif;}
.ec-lmss-17x-x-143{ font-family: sans-serif;}
.ec-lmss-17x-x-143{ font-family: sans-serif;}
.ec-lmss-17x-x-143{ font-family: sans-serif;}
.ec-lmss-17x-x-143{ font-family: sans-serif;}
.ec-lmss-17x-x-143{ font-family: sans-serif;}
.ec-lmss-17x-x-143{ font-family: sans-serif;}
.ec-lmssbx-10x-x-248{font-size:248%; font-family: sans-serif; font-weight: bold;}
.ec-lmssbx-10x-x-248{ font-family: sans-serif; font-weight: bold;}
.ec-lmssbx-10x-x-248{ font-family: sans-serif; font-weight: bold;}
.ec-lmssbx-10x-x-248{ font-family: sans-serif; font-weight: bold;}
.ec-lmssbx-10x-x-248{ font-family: sans-serif; font-weight: bold;}
.ec-lmssbx-10x-x-248{ font-family: sans-serif; font-weight: bold;}
.ec-lmssbx-10x-x-248{ font-family: sans-serif; font-weight: bold;}
.ec-lmssbx-10x-x-248{ font-family: sans-serif; font-weight: bold;}
.ec-lmssbx-10x-x-248{ font-family: sans-serif; font-weight: bold;}
.ec-lmssbx-10x-x-248{ font-family: sans-serif; font-weight: bold;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmri-10{ font-style:italic;}
.ec-lmri-10{ font-style:italic;}
.ec-lmri-10{ font-style:italic;}
.ec-lmri-10{ font-style:italic;}
.ec-lmri-10{ font-style:italic;}
.ec-lmri-10{ font-style:italic;}
.ec-lmri-10{ font-style:italic;}
.ec-lmri-10{ font-style:italic;}
.ec-lmri-10{ font-style:italic;}
.ec-lmri-10{ font-style:italic;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtti-10{ font-family: monospace,monospace; font-style:italic;}
.ec-lmtti-10{ font-family: monospace,monospace; font-style:italic;}
.ec-lmtti-10{ font-family: monospace,monospace; font-style:italic;}
.ec-lmtti-10{ font-family: monospace,monospace; font-style:italic;}
.ec-lmtti-10{ font-family: monospace,monospace; font-style:italic;}
.ec-lmtti-10{ font-family: monospace,monospace; font-style:italic;}
.ec-lmtti-10{ font-family: monospace,monospace; font-style:italic;}
.ec-lmtti-10{ font-family: monospace,monospace; font-style:italic;}
.ec-lmtti-10{ font-family: monospace,monospace; font-style:italic;}
.ec-lmtti-10{ font-family: monospace,monospace; font-style:italic;}
.ec-lmtko-10{ font-style: oblique; font-family: monospace,monospace;}
.ec-lmtko-10{ font-style: oblique; font-family: monospace,monospace;}
.ec-lmtko-10{ font-style: oblique; font-family: monospace,monospace;}
.ec-lmtko-10{ font-style: oblique; font-family: monospace,monospace;}
.ec-lmtko-10{ font-style: oblique; font-family: monospace,monospace;}
.ec-lmtko-10{ font-style: oblique; font-family: monospace,monospace;}
.ec-lmtko-10{ font-style: oblique; font-family: monospace,monospace;}
.ec-lmtko-10{ font-style: oblique; font-family: monospace,monospace;}
.ec-lmtko-10{ font-style: oblique; font-family: monospace,monospace;}
.ec-lmtko-10{ font-style: oblique; font-family: monospace,monospace;}
p{margin-top:0;margin-bottom:0}
p.indent{text-indent:0;}
p + p{margin-top:1em;}
p + div, p + pre {margin-top:1em;}
div + p, pre + p {margin-top:1em;}
a { overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; hyphens: auto; }
@media print {div.crosslinks {visibility:hidden;}}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
img.math{vertical-align:middle;}
div.par-math-display, div.math-display{text-align:center;}
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
pre.verbatim {font-family: monospace,monospace; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.tabbing-right {text-align:right;}
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar,.reversemarginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p,.reversemarginpar p{margin-top:0.4em; margin-bottom:0.4em;}
.reversemarginpar{float:left;}
table.equation {width:100%;}
.equation td{text-align:center; }
td.equation { margin-top:1em; margin-bottom:1em; } 
td.equation-label { width:5%; text-align:center; }
td.eqnarray4 { width:5%; white-space: normal; }
td.eqnarray2 { width:5%; }
table.eqnarray-star, table.eqnarray {width:100%;}
div.eqnarray{text-align:center;}
div.array {text-align:center;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.pmatrix img{vertical-align:middle;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.bar-css {text-decoration:overline;}
table.tabular{border-collapse: collapse; border-spacing: 0;}
img.cdots{vertical-align:middle;}
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.chapterToc a, .chapterToc, .likechapterToc a, .likechapterToc, .appendixToc a, .appendixToc {line-height: 200%; font-weight:bold;}
.index-item, .index-subitem, .index-subsubitem {display:block}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:left;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.author{white-space: nowrap;}
div.abstract p {margin-left:5%; margin-right:5%;}
div.abstract {width:100%;}
.abstracttitle{text-align:center;margin-bottom:1em;}
figure.float, div.figure {margin-left: auto; margin-right: auto;}
figure.float img, figure.figure img {display: block; margin-left: auto; margin-right: auto;}
figure.figure {text-align:center;}
figcaption.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:center;}
figcaption.caption span.id{font-weight: bold; white-space: nowrap; }
.abstract{margin:1em;}
.equation td{text-align:center; }
.equation-star td{text-align:center; }
table.equation-star { width:100%; }
table.equation { width:100%; }
table.align, table.alignat, table.xalignat, table.xxalignat, table.flalign {width:95%; margin-left:5%; white-space: nowrap;}
table.align-star, table.alignat-star, table.xalignat-star, table.flalign-star {margin-left:auto; margin-right:auto; white-space: nowrap;}
td.align-label { width:5%; text-align:center; }
td.align-odd { text-align:right; padding-right:0.3em;}
td.align-even { text-align:left; padding-right:0.6em;}
table.multline, table.multline-star {width:100%;}
td.gather {text-align:center; }
table.gather {width:100%;}
div.gather-star {text-align:center;}
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
div.longtable{text-align:center;}
table.longtable{margin-left:auto; margin-right: auto;}
.lstlisting .label{margin-right:0.5em; }
div.lstlisting{font-family: monospace,monospace; white-space: nowrap; margin-top:0.5em; margin-bottom:0.5em; }
div.lstinputlisting{ font-family: monospace,monospace; white-space: nowrap; }
.lstinputlisting .label{margin-right:0.5em;}
.rotatebox{display: inline-block;}
#TBL-1 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-1{border-collapse:collapse;}
#TBL-1 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-1{border-collapse:collapse;}
#TBL-1 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-1{border-collapse:collapse;}
 .foreignobject {line-height:100%; font-size:120%; font-family:STIXgeneral,Times,Symbol,cmr10,CMSY10,CMEX10;padding:0; margin:0; text-align:center; } 
math {vertical-align:baseline; line-height:100%; font-size:100%; font-family:STIXGeneral,Times,Symbol, cmr10,cmsy10,cmex10,cmmi10; font-style: normal; margin:0; padding:0; }
#TBL-2 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-2{border-collapse:collapse;}
#TBL-2 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-2{border-collapse:collapse;}
#TBL-2 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-2{border-collapse:collapse;}
#TBL-2 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-2{border-collapse:collapse;}
#TBL-2 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-2{border-collapse:collapse;}
#TBL-2 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-2{border-collapse:collapse;}
#TBL-3 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-3{border-collapse:collapse;}
#TBL-3 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-3{border-collapse:collapse;}
#TBL-3 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-3{border-collapse:collapse;}
#TBL-3 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-3{border-collapse:collapse;}
#TBL-3 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-3{border-collapse:collapse;}
#TBL-3 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-3{border-collapse:collapse;}
#TBL-3 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-3{border-collapse:collapse;}
#TBL-3 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-3{border-collapse:collapse;}
#TBL-3 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-3{border-collapse:collapse;}
/* end css.sty */

