2}{Patch Properties}{subsection.7.7}{}}
\@writefile{toc}{\contentsline {subsection}{\numberline {7.8}Quirks Properties}{33}{subsection.7.8}\protected@file@percent }
\newlabel{kernelpropsquirks}{{7.8}{33}{Quirks Properties}{subsection.7.8}{}}
\@writefile{toc}{\contentsline {subsection}{\numberline {7.9}Scheme Properties}{38}{subsection.7.9}\protected@file@percent }
\newlabel{kernelpropsscheme}{{7.9}{38}{Scheme Properties}{subsection.7.9}{}}
\@writefile{toc}{\contentsline {section}{\numberline {8}Misc}{41}{section.8}\protected@file@percent }
\newlabel{misc}{{8}{41}{Misc}{section.8}{}}
\@writefile{toc}{\contentsline {subsection}{\numberline {8.1}Introduction}{41}{subsection.8.1}\protected@file@percent }
\newlabel{miscintro}{{8.1}{41}{Introduction}{subsection.8.1}{}}
\@writefile{toc}{\contentsline {subsection}{\numberline {8.2}Properties}{42}{subsection.8.2}\protected@file@percent }
\newlabel{miscprops}{{8.2}{42}{Properties}{subsection.8.2}{}}
\newlabel{misctools}{{7}{43}{Properties}{Item.177}{}}
\@writefile{toc}{\contentsline {subsection}{\numberline {8.3}Boot Properties}{43}{subsection.8.3}\protected@file@percent }
\newlabel{miscbootprops}{{8.3}{43}{Boot Properties}{subsection.8.3}{}}
\newlabel{oc-attr-use-flavour-icon}{{6}{46}{Boot Properties}{Item.183}{}}
\@writefile{toc}{\contentsline {subsection}{\numberline {8.4}Debug Properties}{49}{subsection.8.4}\protected@file@percent }
\newlabel{miscdebugprops}{{8.4}{49}{Debug Properties}{subsection.8.4}{}}
\newlabel{kpanic}{{2}{49}{}{lstlisting.-3}{}}
\newlabel{dhublog}{{8}{50}{}{lstlisting.-4}{}}
\newlabel{nvramlog}{{8}{50}{}{lstlisting.-5}{}}
\newlabel{oc-mod-libs}{{8}{51}{Debug Properties}{lstnumber.-5.2}{}}
\@writefile{toc}{\contentsline {subsection}{\numberline {8.5}Security Properties}{52}{subsection.8.5}\protected@file@percent }
\newlabel{miscsecurityprops}{{8.5}{52}{Security Properties}{subsection.8.5}{}}
\newlabel{blesspersona}{{2}{52}{}{lstlisting.-6}{}}
\newlabel{secureboot}{{2}{53}{}{lstlisting.-7}{}}
\newlabel{securedmgloading}{{5}{53}{Security Properties}{Item.203}{}}
\newlabel{nvrampath}{{7}{54}{}{lstlisting.-8}{}}
\newlabel{nvrampathmount}{{7}{54}{}{lstlisting.-9}{}}
\newlabel{nvramver}{{7}{54}{}{lstlisting.-10}{}}
\newlabel{nvramoem}{{7}{54}{}{lstlisting.-11}{}}
\newlabel{securevaulting}{{11}{54}{Security Properties}{Item.209}{}}
\newlabel{createvault}{{11}{55}{}{lstlisting.-12}{}}
\newlabel{secureapplesb}{{13}{56}{Security Properties}{Item.211}{}}
\@writefile{toc}{\contentsline {subsection}{\numberline {8.6}Serial Properties}{58}{subsection.8.6}\protected@file@percent }
\newlabel{miscserialprops}{{8.6}{58}{Serial Properties}{subsection.8.6}{}}
\@writefile{toc}{\contentsline {subsubsection}{\numberline {8.6.1}Serial Custom Properties}{58}{subsubsection.8.6.1}\protected@file@percent }
\newlabel{miscserialcustprops}{{8.6.1}{58}{Serial Custom Properties}{subsubsection.8.6.1}{}}
\@writefile{toc}{\contentsline {subsection}{\numberline {8.7}Entry Properties}{60}{subsection.8.7}\protected@file@percent }
\newlabel{miscentryprops}{{8.7}{60}{Entry Properties}{subsection.8.7}{}}
\@writefile{toc}{\contentsline {section}{\numberline {9}NVRAM}{62}{section.9}\protected@file@percent }
\newlabel{nvram}{{9}{62}{NVRAM}{section.9}{}}
\@writefile{toc}{\contentsline {subsection}{\numberline {9.1}Introduction}{62}{subsection.9.1}\protected@file@percent }
\newlabel{nvramintro}{{9.1}{62}{Introduction}{subsection.9.1}{}}
\@writefile{toc}{\contentsline {subsection}{\numberline {9.2}Properties}{62}{subsection.9.2}\protected@file@percent }
\newlabel{nvramprops}{{9.2}{62}{Properties}{subsection.9.2}{}}
\@writefile{toc}{\contentsline {subsection}{\numberline {9.3}Mandatory Variables}{63}{subsection.9.3}\protected@file@percent }
\newlabel{nvramvars}{{9.3}{63}{Mandatory Variables}{subsection.9.3}{}}
\@writefile{toc}{\contentsline {subsection}{\numberline {9.4}Recommended Variables}{63}{subsection.9.4}\protected@file@percent }
\newlabel{nvramvarsrec}{{9.4}{63}{Recommended Variables}{subsection.9.4}{}}
\@writefile{toc}{\contentsline {subsection}{\numberline {9.5}Other Variables}{64}{subsection.9.style: oblique; font-family: monospace,monospace;}
.ec-lmtko-10{ font-style: oblique; font-family: monospace,monospace;}
p{margin-top:0;margin-bottom:0}
p.indent{text-indent:0;}
p + p{margin-top:1em;}
p + div, p + pre {margin-top:1em;}
div + p, pre + p {margin-top:1em;}
a { overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; hyphens: auto; }
@media print {div.crosslinks {visibility:hidden;}}
table.tabular{border-collapse: collapse; border-spacing: 0;}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
img.math{vertical-align:middle;}
div.par-math-display, div.math-display{text-align:center;}
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p:first-child{ margin-bottom:0; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
div.newtheorem .head{font-weight: bold;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
pre.verbatim {font-family: monospace,monospace; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.hline {border-top: 1px solid black;}
.hline + .vspace:last-child{display:none;}
.hline:first-child{border-bottom:1px solid black;border-top:none;}
.tabbing-right {text-align:right;}
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar,.reversemarginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p,.reversemarginpar p{margin-top:0.4em; margin-bottom:0.4em;}
.reversemarginpar{float:left;}
table.equation {width:100%;}
.equation td{text-align:center; }
td.equation { margin-top:1em; margin-bottom:1em; } 
td.equation-label { width:5%; text-align:center; }
td.eqnarray4 { width:5%; white-space: normal; }
td.eqnarray2 { width:5%; }
table.eqnarray-star, table.eqnarray {width:100%;}
div.eqnarray{text-align:center;}
div.array {text-align:center;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.pmatrix img{vertical-align:middle;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.bar-css {text-decoration:overline;}
img.cdots{vertical-align:middle;}
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.chapterToc a, .chapterToc, .likechapterToc a, .likechapterToc, .appendixToc a, .appendixToc {line-height: 200%; font-weight:bold;}
.index-item, .index-subitem, .index-subsubitem {display:block}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:left;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.author{white-space: nowrap;}
div.abstract p {margin-left:5%; margin-right:5%;}
div.abstract {width:100%;}
.abstracttitle{text-align:center;margin-bottom:1em;}
figure.float, div.figure {margin-left: auto; margin-right: auto;}
figure.figure {text-align:center;}
figcaption.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:center;}
figcaption.caption span.id{font-weight: bold; white-space: nowrap; }
p + figcaption, img + figcaption{margin-top: 1em;}
.abstract{margin:1em;}
.equation td{text-align:center; }
.equation-star td{text-align:center; }
table.equation-star { width:100%; }
table.equation { width:100%; }
table.align, table.alignat, table.xalignat, table.xxalignat, table.flalign {width:95%; margin-left:5%; white-space: nowrap;}
table.align-star, table.alignat-star, table.xalignat-star, table.flalign-star {margin-left:auto; margin-right:auto; white-space: nowrap;}
td.align-label { width:5%; text-align:center; }
td.align-odd { text-align:right; padding-right:0.3em;}
td.align-even { text-align:left; padding-right:0.6em;}
table.multline, table.multline-star {width:100%;}
td.gather {text-align:center; }
table.gather {width:100%;}
div.gather-star {text-align:center;}
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
table.longtable{border-collapse: collapse; border-spacing: 0;}
div.longtable{text-align:center;}
table.longtable{margin-left:auto; margin-right: auto;}
caption.longtable .id{font-weight:bold;}
code.lstinline{font-family:monospace,monospace;}
pre.listings{font-family: monospace,monospace; white-space: pre-wrap; margin-top:0.5em; margin-bottom:0.5em; }
.lstlisting .label{margin-right:0.5em; }
pre.lstlisting{font-family: monospace,monospace; white-space: pre-wrap; margin-top:0.5em; margin-bottom:0.5em; }
pre.lstinputlisting{ font-family: monospace,monospace; white-space: pre-wrap; }
.lstinputlisting .label{margin-right:0.5em;}
.rotatebox{display: inline-block;}
#TBL-1-1{border-left: 1px solid black;}
#TBL-1-1{border-right:1px solid black;}
#TBL-1-2{border-right:1px solid black;}
#TBL-2-1{border-left: 1px solid black;}
#TBL-2-1{border-right:1px solid black;}
#TBL-2-2{border-right:1px solid black;}
#TBL-2-3{border-right:1px solid black;}
#TBL-2-4{border-right:1px solid black;}
#TBL-2-5{border-right:1px solid black;}
#TBL-3-1{border-left: 1px solid black;}
#TBL-3-1{border-right:1px solid black;}
#TBL-3-2{border-right:1px solid black;}
#TBL-3-3{border-right:1px solid black;}
#TBL-3-4{border-right:1px solid black;}
#TBL-3-5{border-right:1px solid black;}
#TBL-3-6{border-right:1px solid black;}
#TBL-3-7{border-right:1px solid black;}
#TBL-3-8{border-right:1px solid black;}
/* end css.sty */

