.container td {
    text-align: center;
}

.container table th,
.container table td {
    padding: 3px 10px;
}

td.msg-column {
    text-align: left;
    max-width: 35vh;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}