name: Build HTML Docs
on:
  push:
    branches:
      - docs
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch:
defaults:
  run:
    shell: bash --login -ieo pipefail {0}
jobs:
  build:
    name: Build
    runs-on: macos-latest
    steps:
      - name: Checkout Build Files
        uses: actions/checkout@v2
        with:
          fetch-depth: '0'
          persist-credentials: false
          ref: docs
      - name: Checkout OpenCorePkg Master
        uses: actions/checkout@v2
        with:
          fetch-depth: '0'
          persist-credentials: false
          repository: acidanthera/OpenCorePkg
          path: latest
      - name: Get Latest OpenCorePkg Release
        uses: oprypin/find-latest-tag@v1
        with:
          repository: acidanthera/OpenCorePkg
          releases-only: true
        id: releasetag
      - run: echo "Latest release is ${{ steps.releasetag.outputs.tag }}"
      - name: Checkout OpenCorePkg Release
        uses: actions/checkout@v2
        with:
          fetch-depth: '0'
          persist-credentials: false
          repository: acidanthera/OpenCorePkg
          path: release
          ref: ${{ steps.releasetag.outputs.tag }}
      - name: Get Latest MacTeX Version
        id: mactexversion
        run: |
          echo "::set-output name=version::$(brew info --cask mactex-no-gui | head -1 | cut -c 9-)"
      - name: Cache Brew Downloads
        uses: actions/cache@v2
        with:
          path: |
            ~/Library/Caches/Homebrew/downloads/*mactex*
            ~/Library/Caches/Homebrew/downloads/*ghostscript*
            ~/Library/Caches/Homebrew/*ghostscript*
          key: ${{ runner.os }}-mactex-no-gui-${{ steps.mactexversion.outputs.version }}
      - name: Install Dependencies
        run: |
          brew install --cask mactex-no-gui
      - name: Refresh PATH
        run: eval "$(/usr/libexec/path_helper)"
      - name: Build Master Configuration
        run: |
          cd latest/Docs
          ./BuildDocs.tool
          make4ht Configuration.tex
      - name: Build Master Differences
        run: |
          cd latest/Docs/Differences
          make4ht Differences.tex
      - name: Build Master Errata
        run: |
          cd latest/Docs/Errata
          make4ht Errata.tex
      - name: Build Release Configuration
        run: |
          cd release/Docs
          ./BuildDocs.tool
          make4ht Configuration.tex
      - name: Build Release Differences
        run: |
          cd release/Docs/Differences
          make4ht Differences.tex
      - name: Copy Files
        run: |
          mkdir -p Deploy/latest Deploy/release
          cp -R latest/Docs/*.css latest/Docs/*.html latest/Docs/*.png latest/Docs/Differences/*.css latest/Docs/Differences/*.html latest/Docs/Differences/*.png latest/Docs/Errata/*.css latest/Docs/Errata/*.html latest/Docs/Errata/*.png latest/Docs/Logos Deploy/latest/ || true
          cp -R release/Docs/*.css release/Docs/*.html release/Docs/*.png release/Docs/Differences/*.css release/Docs/Differences/*.html release/Docs/Differences/*.png release/Docs/Errata/*.css release/Docs/Errata/*.html release/Docs/Errata/*.png release/Docs/Logos Deploy/release/ || true
          cp Copy/Differences.css Deploy/latest/
          cp Copy/Differences.css Deploy/release/
          cp Copy/README.md Copy/main.css Deploy/
          echo
          ls Deploy
      - name: Post Build
        run: python3 postbuild.py ${{ steps.releasetag.outputs.tag }}
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@releases/v3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: master
          FOLDER: Deploy
          TARGET_FOLDER: docs
          BASE_BRANCH: master
          CLEAN: true
      - name: Upload Latest Docs
        uses: actions/upload-artifact@v2.2.2
        with:
          name: latest
          path: latest/Docs
      - name: Upload Release Docs
        uses: actions/upload-artifact@v2.2.2
        with:
          name: release
          path: release/Docs
      - name: Upload HTML Output
        uses: actions/upload-artifact@v2.2.2
        with:
          name: html
          path: Deploy
